-e git+git@github.com:fusionbox/fusionbox-fabric-helpers.git@8a498b9d5154a0b3d999629d56bddd354e510658#egg=fusionbox_fabric_helpers
Django>=1.11,<2
werkzeug
django-appconf>=1.0,<1.1
django-compressor>=2.1,<2.2
django-dotenv
django-extensions>=1.7,<1.8
django-pyscss
dj-database-url
psycopg2
python-memcached
raven
