Django>=1.10,<1.11
werkzeug
Fabric
django-appconf>=1.0,<1.1
django-backupdb
django-compressor>=2.1,<2.2
django-dotenv
django-extensions>=1.7,<1.8
django-pyscss
dj-database-url
fusionbox-fabric-helpers
psycopg2
python-memcached
raven
