-e git+git@github.com:fusionbox/django-widgy@5bc70cd323eaac0b74688209f54ae68cebbeea86#egg=widgy-dev
django-debug-toolbar==0.9.4
Werkzeug==0.9.4
django-require==1.0.5
django-dotenv==1.2
fusionbox-fabric-helpers
psycopg2
raven==4.0.4
django-subdomains==2.0.4
