-e git+git@github.com:fusionbox/django-widgy@61df0ff10c7dff3885ab49ff82f74568d830288f#egg=widgy-dev
django-debug-toolbar==0.9.4
Werkzeug==0.9.4
django-require==1.0.5
django-dotenv==1.2
fusionbox-fabric-helpers
psycopg2
raven==4.0.4
django-subdomains==2.0.4
python-memcached
