/*
 * Common SCSS File - SCSS v1.0
 * last edited 02/17/12
 * @author Justin Stollsteimer - Fusionbox, Inc. 
 * http://www.fusionbox.com
 *
 *
 * Lists: Line 
 * HR: Line 
 * Table: Line 
 * Form Elements: Line 
 *
 */
 
/* SASS Mixins
--------------------------------------------------*/

@mixin shadow($color: rgba(0,0,0,0.3), $left: 0px, $top: 0px, $blur: 8px) {
  box-shadow: $left $top $blur $color;
    -o-box-shadow: $left $top $blur $color;
    -ms-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    -webkit-box-shadow: $left $top $blur $color;
}

@mixin inset-shadow($color: rgba(0,0,0,0.3), $left: 0px, $top: 0px, $blur: 8px) {
  box-shadow: inset $left $top $blur $color;
    -o-box-shadow: inset $left $top $blur $color;
    -ms-box-shadow: inset $left $top $blur $color;
    -moz-box-shadow: inset $left $top $blur $color;
    -webkit-box-shadow: inset $left $top $blur $color;
}


@mixin text-shadow($color: rgba(0,0,0,0.3), $left: 0px, $top: 0px, $blur: 8px) {
  text-shadow: $left $top $blur $color;
    -o-text-shadow: $left $top $blur $color;
    -moz-text-shadow: $left $top $blur $color;
    -webkit-text-shadow: $left $top $blur $color;
}

@mixin multi-shadow($shadow) {
  box-shadow: #{$shadow};
    -o-box-shadow: #{$shadow};
    -ms-box-shadow: #{$shadow};
    -moz-box-shadow: #{$shadow};
    -webkit-box-shadow: #{$shadow};
}

@mixin rounded($radius) {
  border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin gradient($bottom,$top) {
  background-color: $bottom;
    background-image: -o-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -ms-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -moz-linear-gradient(center bottom, $bottom 1%, $top 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, $bottom), color-stop(1.00, $top));
}

@mixin hgradient($left,$right) {
  background-color: $right;
    background-image: -o-linear-gradient(left, $left 1%, $right 100%);
    background-image: -ms-linear-gradient(left, $left 1%, $right 100%);
    background-image: -moz-linear-gradient(left, $left 1%, $right 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.01, $left), color-stop(1.00, $right));
}

@mixin transition($basic: all 0.25s ease 0s) {
  transition: #{$basic};
    -o-transition: #{$basic};
    -ms-transition: #{$basic};
    -moz-transition: #{$basic};
    -webkit-transition: #{$basic};
}

@mixin default {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
}

@mixin inner {
  display: block;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  width: 960px;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

@mixin wrapper {
  display: block;
  height: auto;
  min-width: 960px;
  position: relative;
  width: 100%;
  z-index: 1;
}


@mixin html {
  h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, hgroup, hr {
    display: block !important;
    float: none !important;
    margin: 0px 0px 15px 0px !important;
    width: auto !important;
  }
  .fl { float: left; margin: 0px 25px 15px 0px; }
  .fr { float: right; margin: 0px 0px 15px 25px; }
  img { @include rounded(5px); &.left { float: left; margin: 5px 20px 15px 0px; } &.right { float: right; margin: 5px 0px 15px 20px; }}
  table { display: table; width: 100% !important; }
}


/* Lists (un-ordered, ordered and definition lists)  
------------------------------------------------------*/

ul {
  list-style-type: square;
  padding: 0px 0px 0px 18px;
}

ol {  
  list-style: decimal;
  padding: 0px 0px 0px 22px;  
} 

ul li {
  font-weight: normal;
  margin: 0px;
  padding: 0px 0px 4px 0px;
}

ol li {
  margin: 0px;
  padding: 0px 0px 4px 0px;
}

ul li ul,
ol li ol {
  margin: 4px 0px;
  padding: 0px 0px 0px 18px;
}

ol li ol {
  margin: 4px 0px;
  padding: 0px 0px 0px 18px;  
}

ul li ul li, ol li ol li {
  margin: 0px;
  padding: 0px 0px 4px 0px;
}

ul li ul li ul li, ol li ol li ol li {
  margin: 0px;
  padding: 0px 0px 4px 0px;
}

dl dt {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
    
dl dd {
  font-weight: normal;
  margin: 0px;
  padding: 0px 0px 8px 8px;
}


/* HR (usable as HTML property or div class)
------------------------------------------------------*/

hr {
  @include default;
  background: transparent;
  border-width: 0px;
  font-size: 0px;
  height: 1px;
  line-height: 0px;
}


/*| Table (styling for generic table)
------------------------------------------------------*/

table { 
  border-collapse: collapse;
  display: table; 
  margin: 0px 0px 15px 0px;
  width: 100%; 
  float: none;
}

th { 
}

td { 
}

/* Common Classes 
------------------------------------------------------*/

strong, 
.strong {
  font-weight: bold; 
}
  
em, 
.em { 
  font-style: italic; 
}
  
sup {
  font-size: 60% !important;
  position: relative; 
}


/* Block Elements
------------------------------------------------------*/

pre {
  font-style: monospace;
}

blockquote {
  margin: 10px 0px;
  padding: 15px 25px;
  font-style: italic;
}
      
code { 
  font-style: monospace;
}


/* Misc CKEditor Styles Tags
------------------------------------------------------*/

tt, kbd, samp, code { font-family: monospace; }
cite { font-style: italic; padding: 10px; }
small { font-size: 70%; }
big { font-size: 150%; }
address { display: inline; font-style: italic; }
q { font-style: italic; }
var { font-weight: bold; }
del { text-decoration: line-through; }

.error, .errors li { color: #A53A3A; }

label.required{ font-weight: bold; }
label.required:after { content: '*'; color: #cc2222; }

