/*
 * Common SCSS File - SCSS v1.0
 * last edited 02/17/12
 * @author Justin Stollsteimer - Fusionbox, Inc. 
 * http://www.fusionbox.com
 *
 *
 * Lists: Line 
 * HR: Line 
 * Table: Line 
 * Form Elements: Line 
 *
 */
/* SASS Mixins
--------------------------------------------------*/
/* Lists (un-ordered, ordered and definition lists)  
------------------------------------------------------*/
ul {
  list-style-type: square;
  padding: 0px 0px 0px 18px;
}

ol {
  list-style: decimal;
  padding: 0px 0px 0px 22px;
}

ul li {
  font-weight: normal;
  margin: 0px;
  padding: 0px 0px 4px 0px;
}

ol li {
  margin: 0px;
  padding: 0px 0px 4px 0px;
}

ul li ul,
ol li ol {
  margin: 4px 0px;
  padding: 0px 0px 0px 18px;
}

ol li ol {
  margin: 4px 0px;
  padding: 0px 0px 0px 18px;
}

ul li ul li, ol li ol li {
  margin: 0px;
  padding: 0px 0px 4px 0px;
}

ul li ul li ul li, ol li ol li ol li {
  margin: 0px;
  padding: 0px 0px 4px 0px;
}

dl dt {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

dl dd {
  font-weight: normal;
  margin: 0px;
  padding: 0px 0px 8px 8px;
}

/* HR (usable as HTML property or div class)
------------------------------------------------------*/
hr {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
  background: transparent;
  border-width: 0px;
  font-size: 0px;
  height: 1px;
  line-height: 0px;
}

/*| Table (styling for generic table)
------------------------------------------------------*/
table {
  border-collapse: collapse;
  display: table;
  margin: 0px 0px 15px 0px;
  width: 100%;
  float: none;
}

/* Common Classes 
------------------------------------------------------*/
strong,
.strong {
  font-weight: bold;
}

em,
.em {
  font-style: italic;
}

sup {
  font-size: 60% !important;
  position: relative;
}

/* Block Elements
------------------------------------------------------*/
pre {
  font-style: monospace;
}

blockquote {
  margin: 10px 0px;
  padding: 15px 25px;
  font-style: italic;
}

code {
  font-style: monospace;
}

/* Misc CKEditor Styles Tags
------------------------------------------------------*/
tt, kbd, samp, code {
  font-family: monospace;
}

cite {
  font-style: italic;
  padding: 10px;
}

small {
  font-size: 70%;
}

big {
  font-size: 150%;
}

address {
  display: inline;
  font-style: italic;
}

q {
  font-style: italic;
}

var {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

.error, .errors li {
  color: #A53A3A;
}

label.required {
  font-weight: bold;
}

label.required:after {
  content: "*";
  color: #cc2222;
}

/* Fonts & Colors
------------------------------------------------------*/
/* Mixins
------------------------------------------------------*/
/* Tags
------------------------------------------------------*/
h1 {
  color: #152030;
  font-family: "Lato", "Arial Black", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}

h2 {
  color: #152030;
  font-family: "Lato", "Arial Black", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}

p {
  margin: 0 0 15px 0;
}

a.button, input[type=submit], button {
  background-color: #dcdcdc;
  background-image: -o-linear-gradient(center bottom, #dcdcdc 1%, #f4f4f4 100%);
  background-image: -ms-linear-gradient(center bottom, #dcdcdc 1%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(center bottom, #dcdcdc 1%, #f4f4f4 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #dcdcdc), color-stop(1, #f4f4f4));
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 1px 0px white;
  -o-text-shadow: 0px 1px 0px white;
  -moz-text-shadow: 0px 1px 0px white;
  -webkit-text-shadow: 0px 1px 0px white;
  transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  border: 0px;
  border-top: 1px solid white;
  border-bottom: 1px solid #7d7d7d;
  color: black;
  display: inline-block;
  font-family: "Lato", "Arial Black", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  height: auto;
  letter-spacing: 2px;
  margin: 0px;
  outline: 0px;
  padding: 12px 18px;
  position: relative;
  top: 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}
a.button:hover, input[type=submit]:hover, button:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  background: #f4f4f4;
}
a.button.block, input[type=submit].block, button.block {
  display: block;
}
a.button.small, input[type=submit].small, button.small {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 12px;
}
a.button.big, input[type=submit].big, button.big {
  font-size: 24px;
  line-height: 24px;
  padding: 18px 24px;
}
a.button.orange, input[type=submit].orange, button.orange {
  background-color: #d95904;
  background-image: -o-linear-gradient(center bottom, #d95904 1%, #fb7014 100%);
  background-image: -ms-linear-gradient(center bottom, #d95904 1%, #fb7014 100%);
  background-image: -moz-linear-gradient(center bottom, #d95904 1%, #fb7014 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #d95904), color-stop(1, #fb7014));
  text-shadow: 0px -1px 0px #a74403;
  -o-text-shadow: 0px -1px 0px #a74403;
  -moz-text-shadow: 0px -1px 0px #a74403;
  -webkit-text-shadow: 0px -1px 0px #a74403;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
a.button.orange:hover, input[type=submit].orange:hover, button.orange:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  background: #fc802d;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Body
------------------------------------------------------*/
html, body {
  background: #243854;
  color: #424242;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
}

body.bop-it header {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
body.bop-it header a.logo {
  height: 33px;
  top: 20px;
  width: 90px;
}
body.bop-it header nav a {
  padding-top: 28px;
  padding-bottom: 28px;
}

/* Logo
------------------------------------------------------*/
a.logo,
div.logo {
  transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  background: #243854;
  color: white;
  display: inline-block;
  float: none;
  font-family: "Lato", "Arial Black", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  height: 67px;
  letter-spacing: 7px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 184px;
}
a.logo > img,
div.logo > img {
  transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  display: block;
  height: auto;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
a.logo > img.logo,
div.logo > img.logo {
  z-index: 20;
}
a.logo > img.frame,
div.logo > img.frame {
  z-index: 15;
}
a.logo > img.fill,
div.logo > img.fill {
  z-index: 10;
}

/* Header
------------------------------------------------------*/
header {
  box-shadow: 0px 1px 5px transparent;
  -o-box-shadow: 0px 1px 5px transparent;
  -ms-box-shadow: 0px 1px 5px transparent;
  -moz-box-shadow: 0px 1px 5px transparent;
  -webkit-box-shadow: 0px 1px 5px transparent;
  transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  background: #243854;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3000;
}
header div.inner {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 40px;
  position: relative;
}
header div.inner:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html header div.inner {
  height: 1px;
}
header a.logo {
  left: 40px;
  position: absolute;
  top: 30px;
  z-index: 3000;
}
header nav {
  display: inline;
  float: right;
  position: relative;
  right: -60px;
  text-align: right;
}
header nav a {
  transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  color: white;
  display: inline;
  font-family: "Lato", "Arial Black", Helvetica, Arial, sans-serif;
  font-weight: bold;
  float: right;
  padding: 55px 48px;
  text-decoration: none;
  text-transform: uppercase;
}
header nav a:hover, header nav a.here {
  background: #335078;
  color: white;
  padding: 55px 58px;
}

/* All Sections
------------------------------------------------------*/
body div.adapt > section div.inner {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 960px;
  padding: 50px 40px;
}
body div.adapt > section div.inner:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html body div.adapt > section div.inner {
  height: 1px;
}

/* Message
------------------------------------------------------*/
section.message {
  transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  -ms-transition: all 0.5s ease 0.5s;
  -moz-transition: all 0.5s ease 0.5s;
  -webkit-transition: all 0.5s ease 0.5s;
  background: #f26304;
  color: white;
  left: 0px;
  max-height: 0px;
  overflow: hidden;
  padding: 100px 0 10px 0;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 2;
}
section.message .inner {
  font-family: "Lato", "Arial Black", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 0px !important;
  text-align: center;
}
section.message + section.top {
  padding-top: 0 !important;
}

div.adapt {
  transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  -ms-transition: all 0.5s ease 0.5s;
  -moz-transition: all 0.5s ease 0.5s;
  -webkit-transition: all 0.5s ease 0.5s;
  left: 0px;
  position: relative;
  top: 0px;
}

body.loaded div.adapt {
  top: 41px;
}
body.loaded section.message {
  max-height: 1000px;
  overflow: visible;
}

/* Top
------------------------------------------------------*/
section.top {
  background: #78e3c6 url("/static/image/bg.jpg");
  height: 350px;
  padding-top: 130px;
  position: relative;
  top: 0px;
}
section.top div.inner {
  padding: 20px 40px 35px 40px !important;
}
section.top div.text {
  float: left;
  margin-top: 50px;
  text-align: center;
  width: 400px;
}
section.top div.text h2 {
  font-size: 26px;
  line-height: 33px;
  margin: 10px 30px;
}
section.top div.text a.button {
  margin: 0 5px;
}
section.top div.text img {
  margin: 0 10px;
}
section.top div.slideshow {
  float: right;
  height: 281px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  width: 466px;
}
section.top div.slideshow > img {
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 100;
}
section.top div.slideshow div.slide {
  border: 10px solid white;
  padding: 15px;
  height: 151px;
  width: 416px;
}
section.top div.slideshow div.slide > img {
  display: block;
  height: auto;
  width: 416px;
}
section.top div.slideshow div.slide > a.button {
  left: 20%;
  margin: 0 auto;
  padding: 10px 0;
  position: absolute;
  top: 200px;
  width: 60%;
  z-index: 1000;
}
section.top div.slideshow a.button {
  display: block;
  margin-top: 5px;
}

/* Intro
------------------------------------------------------*/
section.intro {
  background: white;
}
section.intro div.bucket {
  padding: 0 2%;
  width: 21%;
}

/* Features
------------------------------------------------------*/
section.features {
  background: #243854;
}
section.features h1, section.features h2 {
  color: white;
}
section.features p {
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}
section.features div.screenshots {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
  margin: 0 0 30px 0;
}
section.features div.screenshots div.screenshot {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
  border: 10px solid white;
  padding: 15px;
  height: auto;
  width: 410px;
}
section.features div.screenshots div.screenshot + div.screenshot {
  float: right;
}
section.features div.screenshots div.screenshot p {
  font-size: 14px;
  margin: 3px 0 0 0 !important;
  text-align: center;
}
section.features ul.features {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.features ul.features li {
  color: white;
  display: inline;
  float: left;
  height: auto;
  margin: 0;
  padding: 10px 0 10px 4%;
  position: relative;
  width: 29%;
}
section.features ul.features li:before {
  content: "\f00c";
  color: #78e3c6;
  font-family: FontAwesome;
  left: 5px;
  position: absolute;
  top: 10px;
  z-index: 2;
}
section.features ul.features li span.feature {
  cursor: help;
  text-decoration: underline;
}
section.features ul.features li span.feature:hover {
  color: #78e3c6;
  text-decoration: none;
}
section.features ul.features li span.feature:hover + span.description {
  max-height: 200px;
  opacity: 1;
  padding: 12px 20px;
  overflow: visible;
}
section.features ul.features li span.description {
  box-shadow: rgba(0,0,0,0.25) 3px 3px 9px;
  -o-box-shadow: rgba(0,0,0,0.25) 3px 3px 9px;
  -ms-box-shadow: rgba(0,0,0,0.25) 3px 3px 9px;
  -moz-box-shadow: rgba(0,0,0,0.25) 3px 3px 9px;
  -webkit-box-shadow: rgba(0,0,0,0.25) 3px 3px 9px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  background: #cfcfcf;
  color: #7d7d7d;
  display: block;
  font-style: italic;
  left: 37px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0px;
  position: absolute;
  top: 40px;
  z-index: 3;
  width: 85%;
}

/* Clients
------------------------------------------------------*/
section.clients {
  background: #ededed;
}
section.clients span.client {
  display: inline;
  float: left;
  margin: 0 0 0 5%;
  width: 16%;
}
section.clients span.client:first-child {
  margin-left: 0;
}

/* Community
------------------------------------------------------*/
section.community {
  background: #ededed;
}

/* Support
------------------------------------------------------*/
section.support {
  background: #dcdcdc;
}

/* Get Widgy
------------------------------------------------------*/
section.getwidgy {
  background: #ededed;
}
section.getwidgy .inner {
  padding-right: 480px !important;
  position: relative;
  width: 480px;
}
section.getwidgy figure {
  background: transparent;
  border: 10px solid #dcdcdc;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 32px;
  right: 0px;
  width: 240px;
}
section.getwidgy figure img {
  display: block;
  height: auto;
  margin: 0 auto 10px auto;
  max-width: 200px;
}
section.getwidgy figure p:first-child {
  margin: 0 !important;
}
section.getwidgy figure p:last-child {
  margin: 0 !important;
}

/* Buckets
------------------------------------------------------*/
div.bucket {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
}
div.bucket figure {
  display: inline;
  float: left;
  height: auto;
  width: 100%;
  margin: 0 0 20px 0;
}
div.bucket figure > img {
  border-radius: 200px;
  -o-border-radius: 200px;
  -ms-border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  display: block;
  height: auto;
  margin: 0 auto 25px auto;
  max-width: 202px;
  width: 100%;
}
div.bucket figure figcaption {
  color: black;
  display: block;
  font-family: "Lato", "Arial Black", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
div.bucket p {
  text-align: justify;
}

/* Table
------------------------------------------------------*/
table {
  margin: 0 0 50px 0;
  width: 100%;
}
table th, table td {
  padding: 15px 25px;
  vertical-align: middle;
}
table thead th {
  background: white;
  font-weight: normal;
  font-size: 20px;
  padding: 25px 25px;
}
table thead th:first-child {
  border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  text-align: left;
}
table thead th:last-child {
  border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
}
table thead th.widgy {
  background: #78e3c6 url("/static/image/bg.jpg");
  position: relative;
  text-align: center;
}
table thead th.widgy div.logo {
  background: #f26304;
  border: 4px solid white;
  margin: 0 auto;
  height: 49px;
  width: 134px;
}
table thead th.widgy span.bump {
  border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  background: #78e3c6 url("/static/image/bg.jpg");
  position: absolute;
  height: 10px;
  left: 0px;
  top: -10px;
  width: 100%;
}
table tbody td {
  background: #dcdcdc;
  border-bottom: 1px solid #c3c3c3;
  color: #424242;
  text-align: center;
}
table tbody td.widgy {
  background: #78e3c6 url("/static/image/bg.jpg");
  border-bottom: 1px solid #39d6ab;
  position: relative;
}
table tbody td.widgy span.bump {
  border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  background: #78e3c6 url("/static/image/bg.jpg");
  position: absolute;
  height: 10px;
  left: 0px;
  bottom: -10px;
  width: 100%;
}
table tbody td:first-child {
  text-align: left;
}
table tbody td.feature {
  position: relative;
}
table tbody td.feature span.feature + span.description {
  box-shadow: inset rgba(0,0,0,0.2) 0px 0px 9px;
  -o-box-shadow: inset rgba(0,0,0,0.2) 0px 0px 9px;
  -ms-box-shadow: inset rgba(0,0,0,0.2) 0px 0px 9px;
  -moz-box-shadow: inset rgba(0,0,0,0.2) 0px 0px 9px;
  -webkit-box-shadow: inset rgba(0,0,0,0.2) 0px 0px 9px;
  transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  background: #cfcfcf;
  color: #7d7d7d;
  display: block;
  font-style: italic;
  left: -960px;
  opacity: 0;
  padding: 0;
  padding: 16px 25px;
  position: absolute;
  top: 51px;
  overflow: hidden;
  z-index: 50;
  width: 910px;
}
table tbody td.feature span.feature:hover {
  /*
  + span.description {
    left: 0px;
    opacity: 1;
  }
  */
}
table tbody tr:last-child td {
  border: 0px;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
  -o-border-radius: 0 0 0 3px;
  -ms-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
}
table tbody tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
  -o-border-radius: 0 0 3px 0;
  -ms-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -webkit-border-radius: 0 0 3px 0;
}

/* Footer
------------------------------------------------------*/
footer {
  background: transparent;
  color: white;
  text-align: center;
}
footer div.inner {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 960px;
  padding: 25px 40px;
}
footer div.inner:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html footer div.inner {
  height: 1px;
}
footer div.inner a {
  transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  color: white;
  text-decoration: none;
}
footer div.inner a:hover {
  border-bottom: dashed 1px white;
}

/* Responsive: All Responsive Designs
------------------------------------------------------*/
@media screen and (max-width: 1039px) {
  .wrapper {
    margin: 0;
    min-width: 0;
    width: 100%;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(57, 57, 57, 0.6);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(156, 156, 156, 0.6);
  }
}
/* Responsive
------------------------------------------------------*/
@media screen and (max-width: 1039px) {
  section.top div.text {
    display: block;
    float: none;
    margin: 50px auto 0 auto;
    max-width: 400px;
    width: auto;
  }
  section.top div.slideshow {
    display: none;
  }
  section.clients span.client {
    width: 18%;
    margin: 0 1%;
  }
  section.clients span.client img {
    display: block;
    height: auto;
    width: 100%;
  }
  section.features div.screenshots div.screenshot {
    height: auto;
    width: 40%;
  }
  section.features div.screenshots div.screenshot img {
    height: auto;
    max-width: 100%;
  }
  section.getwidgy .inner {
    padding-right: 40% !important;
    width: 50%;
  }
}
/* Responsive: Medium Screens
------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 740px) {
  header nav {
    right: -40px;
  }
  header nav a {
    padding-left: 18px;
    padding-right: 18px;
  }
  header nav a:hover, header nav a.here {
    padding-left: 23px;
    padding-right: 23px;
  }
  header nav a.features {
    display: none;
  }
  section.intro div.bucket {
    width: 46%;
  }
  section.intro div.bucket:nth-child(2n) {
    clear: left;
  }
  section.clients span.client {
    width: 31%;
    margin: 0 1%;
    text-align: center;
  }
  section.clients span.client img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
  section.features div.screenshots {
    margin: 0;
  }
  section.features div.screenshots div.screenshot {
    float: none !important;
    display: block;
    height: auto;
    margin: 0 0 15px 0;
    text-align: center;
    width: auto;
  }
  section.features div.screenshots div.screenshot:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html section.features div.screenshots div.screenshot {
    height: 1px;
  }
  section.features div.screenshots div.screenshot img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
  section.features ul.features li {
    padding-left: 10%;
    width: 40%;
  }
  section.features table thead th {
    font-size: 16px;
  }
  section.features table thead th:nth-child(3) {
    border-radius: 0 3px 0 0;
    -o-border-radius: 0 3px 0 0;
    -ms-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
  }
  section.features table thead th.widgy div.logo {
    height: 27px;
    width: 74px;
  }
  section.features table tbody tr:last-child td {
    border: 0px;
  }
  section.features table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
    -o-border-radius: 0 0 0 3px;
    -ms-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    -webkit-border-radius: 0 0 0 3px;
  }
  section.features table tbody tr:last-child td:nth-child(3) {
    border-radius: 0 0 3px 0;
    -o-border-radius: 0 0 3px 0;
    -ms-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    -webkit-border-radius: 0 0 3px 0;
  }
  section.features table .comp2 {
    display: none !important;
  }
  a.button {
    display: block;
    margin-bottom: 10px;
  }
  section.getwidgy .inner {
    padding-right: 40px !important;
    width: auto;
  }
  section.getwidgy figure {
    clear: both;
    display: block;
    margin-top: 30px;
    position: static;
    width: auto;
  }
}
/* Responsive: Mobile Screens
------------------------------------------------------*/
@media screen and (max-width: 480px) {
  header a.logo {
    display: block;
    left: 0px !important;
    margin: 20px auto;
    height: 33px;
    position: relative;
    top: 0px !important;
    width: 90px;
  }
  header nav {
    display: none;
  }
  header nav a {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 18px;
    padding-right: 18px;
  }
  header nav a:hover, header nav a.here {
    padding-left: 23px;
    padding-right: 23px;
  }
  header nav a:not(.getWidgy) {
    display: none;
  }
  section.message {
    padding-top: 40px;
  }
  section.top {
    padding: 0 0 30px 0;
    height: auto;
  }
  section.top div.text a.button.big {
    display: block;
    float: none;
    margin: 0 0 10px 0;
    font-size: 19px;
  }
  section.top img.pycon {
    left: 35%;
    top: 310px;
  }
  section.intro div.bucket {
    clear: both;
    padding: 0;
    width: 100%;
  }
  section.clients span.client {
    width: 48%;
    margin: 0 1%;
    text-align: center;
  }
  section.clients span.client img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
  section.features div.screenshots {
    margin: 0;
  }
  section.features div.screenshots div.screenshot {
    float: none !important;
    display: block;
    height: auto;
    margin: 0 0 15px 0;
    text-align: center;
    width: auto;
  }
  section.features div.screenshots div.screenshot:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html section.features div.screenshots div.screenshot {
    height: 1px;
  }
  section.features div.screenshots div.screenshot img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
  section.features ul.features li {
    padding-left: 10%;
    width: 90%;
  }
  section.features table thead th:first-child {
    border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
  }
  section.features table tbody tr:last-child td {
    border: 0px;
  }
  section.features table tbody tr:last-child td:first-child {
    border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
  }
  section.features table .widgy, section.features table .comp1, section.features table .comp2 {
    display: none !important;
  }
  a.button {
    display: block;
    margin-bottom: 10px;
  }
  section.getwidgy .inner {
    padding-right: 40px !important;
    width: auto;
  }
  section.getwidgy figure {
    clear: both;
    display: block;
    margin-top: 30px;
    position: static;
    width: auto;
  }
}

/*# sourceMappingURL=widgy.css.map */
