<!doctype html>{% load staticfiles compress %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  <title>Open Source Python/Django CMS Framework | Widgy</title>
  <meta name="description" content="Widgy is a Python/Django CMS framework with a drag &amp; drop interface to make it as easy as possible to manage your website's content.">
  

  <link href="//fonts.googleapis.com/css?family=Roboto:400italic,700italic,400,700%7CLato:400,900,400italic,900italic" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/widgy.scss' %}">
  {% endcompress %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" type="text/javascript"></script>

  {% compress js %}
  <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/skrollr.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/widgy.js' %}"></script>
  {% endcompress %}


  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  {% include "_google-analytics.html" %}
</head>

<body class="homePage">
  <div class="adapt" id="skrollr-body">

  <header class="wrapper">
    <div class="inner">
      <a class="logo" href="#top">
        <img class="logo" src="{% static 'image/logo-white.png' %}" alt="" />
        <img class="frame" src="{% static 'image/logo-frame.png' %}" alt="" />
        <img class="fill" src="{% static 'image/logo-fill.png' %}" alt="" data-0="top: -800%;" data-end="top: 0%" />
      </a>
      <nav>
        <a href="#getwidgy" class="getWidgy">Download</a>
        <a href="{{ demo_url }}" class="getWidgy">Demo</a>
        <a href="#support" class="support">Support</a>
        <a href="#features" class="features">Features</a>
      </nav>
    </div>
  </header>

  <section class="top" id="top">
    <div class="inner">
      <div class="text">
        <p>
          <img src="{% static 'image/python.png' %}" alt="Python" />
          <img src="{% static 'image/django.png' %}" alt="Django" />
        </p>
        <h2>The CMS for the particular needs of perfectionists.</h2>
        <p>
          <a class="button" href="{{ demo_url }}">Demo</a>
          <a class="button" href="#getwidgy">Install</a>
        </p>
      </div>
      <div class="slideshow">
        <div class="slide">
          <img src="{% static 'image/screenshot-small.jpg' %}" alt="Widgy Python CMS Screenshot" />
        </div>
        <a class="button orange" href="{{ demo_url }}">Try the Demo</a>
        <!--img src="{% static 'image/mac2.png' %}" alt="" /-->
      </div>
    </div>
  </section>

  <section class="intro" id="intro">
    <div class="inner">
      <a name="intro"></a>

      <div class="bucket">
        <figure>
          <img src="{% static 'image/icon-django.gif' %}" alt="Widgy is a Django CMS" />
          <figcaption>Familiar</figcaption>
        </figure>
        <p>
          Widgy is a Python CMS built on Django, so you already know your way around the code. Promgrammers will feel right at home.
        </p>
      </div>
      <div class="bucket">
        <figure>
          <img src="{% static 'image/icon-open.gif' %}" alt="" />
          <figcaption>Open</figcaption>
        </figure>
        <p>
        Widgy is released under the Apache 2 license, so you have the flexibility you need, with added protections for your business.  <!--Make contributions by signing the CLA borrowed directly from the Django Software Foundation.-->
        </p>
      </div>
      <div class="bucket">
        <figure>
          <img src="{% static 'image/icon-agile.gif' %}" alt="" />
          <figcaption>Agile</figcaption>
        </figure>
        <p>
          Widgy allows Python/Django programmers to customize widgets and for marketers to easily create and optimize content for SEO and usability.
        </p>
      </div>
      <div class="bucket">
        <figure>
          <img src="{% static 'image/icon-easy.gif' %}" alt="" />
          <figcaption>Easy</figcaption>
        </figure>
        <p>
          Widgy has a simple drag &amp; drop interface that helps marketers easy publish complex content like tables and accordions.
        </p>
      </div>

    </div>
  </section>


  {% comment %}
  <section class="clients" id="clients">
    <div class="inner">
      <h1><a name="clients"></a>Sites Using Widgy</h1>
      
      <div>
      <span class="client">
        <img src="{% static 'image/habitat.png' %}" alt="Habitat" />
      </span>
      <span class="client">
        <img src="{% static 'image/retul.png' %}" alt="Ret&uuml;l" />
      </span>
      <span class="client">
        <img src="{% static 'image/boysandgirls.png' %}" alt="Boys &amp; Girls Club" />
      </span>
      <span class="client">
        <img src="{% static 'image/lighthouse.png' %}" alt="Lighthouse Solar" />
      </span>
      <span class="client">
        <img src="{% static 'image/nasafcu.png' %}" alt="Nasa Federal Credit Union" />
      </span>
      </div>
      
    </div>
  </section>
  {% endcomment %}


  <section class="features" id="features">
    <div class="inner">
      <h1><a name="features"></a>Widgy Features</h1>
      <div class="screenshots">
        <div class="screenshot">
          <img src="{% static 'image/feature-drag-drop.jpg' %}" alt="Drag and Drop Python CMS" />
          <p><em>Drag &amp; Drop Interface</em></p>
        </div>
        <div class="screenshot">
          <img src="{% static 'image/feature-tree.jpg' %}" alt="Default Widgets in Django CMS" />
          <p><em>Lots of Default Widgets</em></p>
        </div>
      </div>

      <ul class="features">
        <li>
          <span class="feature">Not Just an HTML Editor</span>
              <span class="description">Use Widgy to edit any heterogenous tree-structured data!</span>
        </li>
        <li>
          <span class="feature">Page Builder</span>
              <span class="description">Includes common &amp; advanced widgets for building out web pages without needing to know HTML.</span>
        </li>
        <li>
          <span class="feature">Form Builder</span>
              <span class="description">Drag &amp; drop to create forms, success emails, or link to Salesforce. Download submissions as a CSV.</span>
        </li>
        <li>
          <span class="feature">Integration with Mezzanine CMS</span>
              <span class="description">Provides a new Page type for Widgy content instead of a typical TinyMCE.</span>
        </li>
        <li>
          <span class="feature">Review Queue</span>
              <span class="description">Advanced versioning for Widgy pages. Set file permissions, review changes between versions, schedule publishing, and preview changes.</span>
        </li>
        <li>
          <span class="feature">Django Authentication</span>
              <span class="description">Integrated with the Django authentication framework. Control which widgets users are able to edit.</span>
        </li>
        <li>
          <span class="feature">ModelField &amp; FormField</span>
              <span class="description">Add Widgy to any model that you want, even add multiple widgy fields to the same model.</span>
        </li>
        <li>
          <span class="feature">Drag &amp; Drop Editor</span>
          <span class="description">Easily edit complex tree documents.</span>
        </li>
        <li>
          <span class="feature">Widgets are Django Models</span>
              <span class="description">Just write and model a render template &mdash; widgets can be customized through inheritance.</span>
        </li>
        <li>
          <span class="feature">Widgets are Django ModelForms</span>
              <span class="description">For most widgets, no addition JavaScript is necessary. Customize functionality by overriding the form.</span>
        </li>
        <li>
          <span class="feature">Widgets are Django Templates</span>
              <span class="description">To change how a widget renders, just override its template. Presto-blammo!</span>
        </li>
        <li>
          <span class="feature">Widgets are Self-Contained</span>
              <span class="description">Include custom JavaScript and SCSS files for your widgets.</span>
        </li>
        <li>
          <span class="feature">Links Framework</span>
              <span class="description">Allow widgets, like Button, to link to any model.</span>
        </li>
        <li>
          <span class="feature">Include your own Django Apps</span>
              <span class="description">Easily include django apps into the page tree with Plugins (urlconf_include).</span>
        </li>
        <li>
          <span class="feature">Painless Search</span>
              <span class="description">Integrated with django-haystack.</span>
        </li>
        <li>
          <span class="feature">Super-Powered Compatibility Methods</span>
              <span class="description">The compatibility framework helps make sure that widgets can only go where they are expected (users can't mess up their site).  Override compatibility for built-in widgets to suit your site's needs.</span>
        </li>
        <li>
          <span class="feature">Optimized Static Assets</span>
              <span class="description">Integrated with django-require for optimizing the Widgy editor static assets.</span>
        </li>
        <li>
          <span class="feature">Debugging Helpers</span>
              <span class="description">Widgy provides django-debug-toolbar panels for investigating <em>what's going on</em> with Widgy rendering.</span>
        </li>
        <li>
          <span class="feature">Easy Usability Controls</span>
            <span class="description">Widgets and callouts allow you to control the way content is presented to users.</span>
        </li>
        <li>
          <span class="feature">More Than Just Text</span>
            <span class="description">Widgets allow you to easily add images, tables, tabs, and accordions.</span>
        </li>
        <li>
          <span class="feature">Track Conversions Easily</span>
            <span class="description">The Widgy Form Builder sends users to a unique URL after converting, helping marketers track site success</span>
        </li>
      </ul>
    </div>
  </section>

  <section class="support" id="support">
    <div class="inner">
      <h1><a name="support"></a>Widgy Support</h1>
      <p>Here's how to get some help.</p>
      <p>
        <a href="http://docs.wid.gy/en/latest/" class="button"><i class="fa fa-file-text-o"></i> Widgy Documentation</a>
        <a href="https://groups.google.com/a/fusionbox.com/forum/#!forum/widgy" class="button"><i class="fa fa-google-plus"></i> Widgy Google Group</a>
        </p>Please <a href="http://www.fusionbox.com/contact/">contact us</a> for paid support options.<p>
        
      </p>
    </div>
  </section>

  <section class="getwidgy" id="getwidgy">
    <div class="inner">
      <h1><a name="getwidgy"></a>Download</h1>
      <p>You have a couple options for getting Widgy:</p>
      <p><code>$ pip install django-widgy</code></p>
      <p>or</p>
      <p><a href="https://github.com/fusionbox/django-widgy" class="button"><i class="fa fa-github-alt"></i> django-widgy on Github</a></p>
      
      <figure>
        <p><a href="http://www.fusionbox.com/"></a>Sponsored by</p>
        <img src="{% static 'image/fusionbox.png' %}" alt="Fusionbox" />
        <p>Widgy is brought to you by <strong>Fusionbox</strong>, a Denver digital agency with a heart for Python.</p>
        <p><a class="button block small orange" href="http://www.fusionbox.com/contact/">Contact Fusionbox</a></p>
      </figure>
    </div>
  </section>

  <footer>
    <div class="inner">
      <p>
        &copy;2014 Fusionbox, Inc.  All rights reserved.
      </p>
    </div>
  </footer>

  </div>

  <script type="text/javascript">
    /* Skrollr Initialize Call */

    if(!(/Android|iPhone|iPad|iPod|BlackBerry|Windows Phone/i).test(navigator.userAgent || navigator.vendor || window.opera)){
      var s = skrollr.init({
        forceHeight: false,
        smoothScrollingDuration: 500
      });
    }

  </script>

</body>
</html>
